@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.burgermenu {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  
}

.burgermenu > span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
    span:nth-child(1) {
    top: 0px;
  }
  
    span:nth-child(2) {
    top: 18px;
  }
  
   span:nth-child(3) {
    top: 36px;
  }
  
  .top.open {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .middle.open {
    opacity: 0;
    left: -60px;
  }
  
  .bottom.open {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .active {
    text-decoration: underline;
    text-decoration-color: #71b572;
    text-underline-offset: 0.4rem; /* Adjust offset if needed */
    text-decoration-thickness: 0.2em; /* Adjust thickness as desired */
    transition: text-decoration-color 0.3s ease-in-out; /* Smooth transition effect */
  }

  .navbar li:hover{
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }



  /* lists */
  .offer-list li {
    padding-top: 0.5rem;
  }
  .checkmark::before {
    content: '\2713'; /* Unicode checkmark character */
    color: green; /* Set the color */
}

h1{
  font-weight: 600;
  font-size: 1.3rem;
}



/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}