@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  line-height: 170%;
  margin-bottom: 1rem;
}
.price-box-text {
  line-height: 150%;
}

/* Navbar */
.burgermenu {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  
}

.burgermenu > span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
    span:nth-child(1) {
    top: 0px;
  }
  
    span:nth-child(2) {
    top: 18px;
  }
  
   span:nth-child(3) {
    top: 36px;
  }
  
  .top.open {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .middle.open {
    opacity: 0;
    left: -60px;
  }
  
  .bottom.open {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .active {
    text-decoration: underline;
    text-decoration-color: #71b572;
    text-underline-offset: 0.4rem; /* Adjust offset if needed */
    text-decoration-thickness: 0.2em; /* Adjust thickness as desired */
    transition: text-decoration-color 0.3s ease-in-out; /* Smooth transition effect */
  }

  .navbar li:hover{
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }



  /* lists */
  .offer-list li {
    padding-top: 0.5rem;
  }
  .checkmark::before {
    content: '\2713'; /* Unicode checkmark character */
    color: green; /* Set the color */
}

h1{
  font-weight: 600;
  font-size: 1.5rem;
}

h2{
  font-weight: 600;
  font-size: 1.3rem;
}

/* privacy */
.privacy h1 {
  font-size: 1.6rem;
  padding: 0.5rem 0 0.5rem 0;
}

.privacy h2 {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.3rem 0 0.3rem 0;
}

.privacy h3 {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 0 0.2rem 0;
}

.privacy p{
  padding: 0.2rem 0 0.2rem 0;
}

.container-marian {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/portraits/portrait_2.webp');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: top; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}